/* Form Presets */

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-weight: 500;
  font-size: 25x;
}

form > div {
  display: flex; 
  flex-shrink: 0;
  align-self: center; 
  align-items: center;  
  justify-content: left; 
  width: 100%; 
  margin: 15px; 
}


label {
  font-size: large;
  font-weight: 500;
  width: 100%;
}

input[type=text] {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: white;
  width: 75%; 
  height: 30px; 
  min-width: 225px;
  border-radius: 7px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

textarea{
  padding: 3px;
  resize: none;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: white;
  width: 75%; 
  height: 60px; 
  min-width: 225px;
  border-radius: 7px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

input[type=password] {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: white;
  width: 75%; 
  height: 30px; 
  min-width: 225px;
  border-radius: 7px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

