table {
    border-collapse:collapse;
    color: black;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

table thead th {
    border-right: 3px solid #cecece;
    border-bottom: 3px solid #cecece;
    color: black;
    font-weight: 700;
    padding: 8px 0px;
    font-size: 20px;
}

table tbody td {
    border-right: 3px solid #cecece;
    border-bottom: 3px solid #cecece;
    padding: 8px 5px;
}

table tfoot td {
    border-right: 3px solid #cecece;   
    padding: 8px 5px;
}