<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/bttn.css">
    <link rel="stylesheet" href="/css/form.css">
    <!-- Script -->
    <script src="/js/functions.js"></script>
    <!-- Title -->
    <title>UniLife - Login</title>
  </head>
  <body>

    <header>
      <nav>
          <ul>
              <a class="focus-in-expand-fwd" class="logo" href="/home" style="font-family:'Caveat', cursive; font-weight: 700; font-size: 900%;">UniLife</a>
              <% if(!session) { %>
              <a class="focus-in-contract-bck" href="/login">Login</a>
              <a class="focus-in-contract-bck" href="/signup">Create an Account</a>
              <% } else { %>
              <a class="focus-in-contract-bck" href="/calendar">Calendar</a>
              <a class="focus-in-contract-bck" href="/schedule">Schedule</a>
              <a class="focus-in-contract-bck" href="/snake">Snake</a>
              <a class="focus-in-contract-bck" href="/profile">Profile</a>
              <a class="focus-in-contract-bck" href="/contact">Contact</a>
              <a class="focus-in-contract-bck" href="/logout" style="font-weight: 600;">Logout</a>
              <% } %>
          </ul>
      </nav>
  </header>
<div class="container-ease-in">
    <div class="wrapper">
        <h3>
            Successfully logged in!
        </h3>
        <h1>
          Welcome back, <%= session %>!
        </h1>    
    </div>

    <div class="flex-container">    
      <div>
        <img src="/images/icons/account.png" height="80px" width="80px" style="vertical-align:top">
        <br>
        <a href="/profile" style="text-decoration: none; color: white">Profile</a>
      </div>
      <div> 
          <img src="/images/icons/calendar.png" height="80px" width="80px" style="vertical-align:top">
          <br>
          <a href="/calendar" style="text-decoration: none; color: white">Calendar</a>
      </div>
      <div>
          <img src="/images/icons/schedule.png" height="80px" width="80px" style="vertical-align:top">
          <br>
          <a href="/schedule" style="text-decoration: none; color: white">Schedule</a>
      </div>
      <div>
        <img src="/images/icons/game.png" height="80px" width="80px" style="vertical-align:top">
        <br>
        <a href="/game" style="text-decoration: none; color: white">Game</a>
    </div>

    </div>  
    </div>
  </body>
</html>